<a class="btn" style="background-color:#871f1f" href="#/pets">
<h style="color:#ff9900">Go Back</h>
</a>
<div class="panel panel" style="background-color:#ffe0b3
">
  <div class="panel-heading" style="background-color:#871f1f">
    <h3 class="panel-title" style="color:#ff9900">Add Pet</h3>
  </div>
  <div class="panel-body">
  	<div class="row">
      <form ng-submit="addPet()">
        <div class="form-group">
          <label>Pet name</label>
          <input type="text" class="form-control" ng-model="pet.pet_name" placeholder="pet name">
        </div>
        
        <div class="form-group">
          <label>Species</label>
          <select ng-model="pet.species" class="form-control">
            <option value="Dog">Dog</option>
            <option value="Cat">Cat</option>
            <option value="Rabbit">Rabbit</option>
            <option value="Hamster">Hamster</option>
          </select>
        </div>

        <div class="form-group">
          <label>Breed</label>
          <select ng-model="pet.breed" class="form-control">
            <option value="American Short">American Short</option>
            <option value="American Mix">American Mix</option>
            <option value="Sayam">Sayam</option>
            <option value="Chinchilla">Chinchilla</option>
            <option value="Himalaya Longhair">Himalaya Longhair</option>
          </select>
        </div>

        <div class="form-group">
          <label>Age</label>
          <input type="text" class="form-control" ng-model="pet.age" placeholder="age">
        </div>

        <div class="form-group">
          <label>Owner</label>
          <input type="text" class="form-control" ng-model="pet.owner" placeholder="owner">
        </div>
        
        <button type="submit" class="btn" style="background-color:#871f1f">
        <h style="color:#ff9900">Submit</h>
        </button>
      </form>
  	</div>
  </div>
</div>